.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left {
  background-color: #ffffff;
  margin-right: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.right {
  background-color: #ffffff;
  margin-left: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.item {
  flex: 1;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 180px;
  justify-content: center;
  align-items: top;
}